* {
  margin: 0px;
  border: 0px;
}

h1 {
  position: relative;
  left: 3%;
  color: lightblue !important;
}

body {
  background-color: #242424;
}

hr {
  position: relative;
  color: white;
  width: 93%;
  height: 2px;
  left: 3%;
}

#main {
  overflow-x: hidden;
}

.set1 {
  display: flex;
  justify-content: center;
  position: relative;
  top: 24px;
  left: 24px;
  flex-wrap: wrap;
  min-width: 350px;
  margin-bottom: 100px;
}

.container {
  background-color: rgba(1, 1, 1, 0);
  border: 2px solid red;
}

.project {
  justify-content: center;
  text-align: center;
  padding: 17px 34px;
  margin: 20px;
  width: 180px;
  height: 270px;
  z-index: 4;
}

.project img {
  width: 210px;
  height: 217px;
  position: relative;
  top: -10px;
  right: 26px
}

.project h2 {
  position: relative;
  margin: 2px 7px;
}

.project article {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2px 12px;
  max-width: 220px;
}

.project:hover {
  border: 2px solid lightblue;
  z-index: 6;
}

.project p {
  text-shadow: none;
  font-size: 11px;
}

.project a {
  color: white;
  text-decoration: none;
}

.service {
  text-align: center;
  align-content: center;
  justify-content: space-around;
  margin: 80px 30px 0px 30px;
  padding: 17px 34px;
  width: 200px;
  height: 100px;
  color: #FFF;
}

.service h3 {
  margin: 15px;
}

.banner {
  position: relative;
  background-image: url("../images/space_background.jpg");
  top: 21px;
  margin: 50px auto;
  height: 300px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.banner h1 {
  color: lavender;
  text-shadow: 2px white solid;
  text-decoration: 6px underline double;
  text-align: center;
  position: relative;
  top: 28px;
  left: 0px !important;
  font-size: 124px;
  font-stretch: expanded;
  text-transform: uppercase;
  font-family: 'Big Shoulders Display', cursive;
}

.banner ul, li {
  color: white;
  text-align: center;
  position: relative;
  top: 17%;
  list-style-type: none;
}

#project_localnav {
  position: relative;
  top: 10%;
}

#project_localnav ul {
  text-align: center;
}

#project_localnav li {
  display: inline;
  padding: 0px 10px;
  color: white !important;
  text-decoration: none;
}

.welcome {
  display: block;
  position: relative;
  color: white;
  background-color: rgba(1, 1, 1, 0);
  border: 2px solid red;
  padding: 20px;
  width: 93%;
  left: 2%;
  top: 20px;
  margin-top: 24px;
  margin-bottom: 40px;
}

.welcome h1 {
  text-align: center;
  font-size: 3em;
  left: -3px;
  text-decoration: underline;
  margin-bottom: 15px;
}

.welcome_end {
  text-align: center;
  text-decoration: underline;
  font-style: italic;
  font-size: 1.5em;
}

/* footer styles */

.footer {
  position: relative;
  display: inline-block;
  background-color: black;
  border-top: 1px solid red;
  bottom: 0;
  margin-top: 400px;
  width: 100%;
  margin: 0px auto;
  min-height: 2.5rem;
}

.footer img {
  float: right;
  max-width: 40px;
  max-height: 40px;
}
