* {
  margin: 0px;
  border: 0px;
}

h1 {
  color: red;
}

#set1 {
  display: inline-flex;
  position: absolute;
  top: 410px;
  left: 89px;
  min-width: 350px;
}

#set2 {
  display: inline-flex;
  position: relative;
  top: 240px;
  left: 89px;
  min-width: 350px;
}

.project_container {
  box-shadow: 2px 2px 0 red;
  background-color: rgba(140, 140, 140, 1);
  border: 1px solid black;
  padding: 10px 16px;
  margin-left: 54px;
  margin-bottom: 40px;
  width: 288px;
  height: 184px;
  z-index: 4;
}

.project_container article {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2px 12px;
  max-width: 220px;
}

.project_container:hover {
  box-shadow: 4px 4px 0 red;
}

.project_container p {
  text-shadow: none;
  font-size: 11px;
}

.project_container a {
  color: black;
  text-decoration: none;
  text-align: center;
}

footer {
  display: block;
  bottom: 1px;
}
