* {
  margin: 0px;
  border: 0px;
}

/* Welcome container and message block */

.welcome {
  display: flex;
  text-align: center;
  align-content: center;
}

.welcome h1 {
  text-align: center;
}


/* footer styles */

.footer {
  display: inline-block;
  background-color: black;
  border-top: 1px solid red;
  bottom: 0;
  margin-top: 400px;
  width: 100%;
  min-height: 2.5rem;
}

.social_links {
  padding: 4px;
  float: right;
}

.fa {
  color: white;
}

.footer img {
  float: right;
  max-width: 40px;
  max-height: 40px;
}
