* {
  margin: 0px;
  border: 0px;
}

h1 {
  color: turquoise;
}

header {
  background-color: black;
}

body {
  margin: 64px;
}

a {
  color: black;
  border-radius: 5px;
  text-shadow: 2px 1px 0 rgba(40,40,40,1);
}

.project_container {
  box-shadow: 2px 2px 0 gray;
  background-color:rgba(140, 140, 140, 0.172);
  display: inline-flex;
  border: 1px solid black;
  padding: 10px 16px;
  margin: 14px 26px;
  width: 288px;
  height: 184px;
}

.project_container article {
  display: inline-block;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 2px 12px;
  max-width: 220px;
}

.project_container button {
  margin: 74px 4px 7px 12px;
  border: 2px solid black;
  color: white;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.project_container:hover {
  box-shadow: 5px 5px 0 gray;
}

#btn1 {
  background-color: red;
}

#btn2 {
  background-color: blue;
  border-radius: 12px;
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
     -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
          box-shadow: inset 0px 0px 5px #c1c1c1;
   outline: none;
}

article p {
  font-size: 11px;
}

#top_nav {
  background-color: rgba(40, 40, 40, 1);
  padding: 20px 40px 10px;
  display: inline-block;
  box-sizing: content-box;
  position: fixed;
  top: 10px;
}
