body {
  background-color: #FFF;
  margin: 0 auto;
}

#top_nav header {
  position: fixed;
  background-color: #000000;
  border-bottom: 3px solid #FF174F;
  position: fixed;
  width: 100%;
  max-height: 70px;
  min-height: 40px;
}

#top_nav ul {
  float: left;
  margin: 30px 10px;
  padding: 0 20px;
  text-align: center;
}

#top_nav li {
  color: #FFF;
  font-family: 'Oswald', sans-serif;
  font-size: 17px;
  font-weight: 300;
  text-transform: uppercase;
  list-style: none;
  display: inline;
}

#top_nav li:hover {
  border: 2px inset red;
}

#top_nav button {
  position: relative;
  top: -7px;
  width: 120px;
  height: 30px;
}

#top_nav h1 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-transform: uppercase;
}

#top_nav h2 {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 26px;
  font-weight: 100;
  margin: 0 auto 20px auto;
}

h3 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  padding: 30px;
}

h4 {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase
}

p {
  color: #333;
  font-family: 'Varela Round', sans-serif;
  font-size: 18px;
}

footer {
  background-color: #DBE9EE;
  text-align: center;
}

.welcome {
  background-color: #DBE9EE;
  box-sizing: border-box;
  padding: 40px;
  text-align: center;
  width: 100%;
}
